# CMake Temporary Files
CMakeFiles/
*.cmake
CMakeCache.txt

# Visual Studio Specific
.vs/
Debug/
Release/
Win32/
MinSizeRel/
RelWithDebInfo/
SimpleSSD-Standalone.dir
*.sdf
*.db
*.opendb
*.filters
*.vcxproj
*.vcproj
*.sln

# Make Specific
Makefile

# Atom Specific
.clang_complete
